body {
    background-color: black;
    color:white;
}

h1 {
	font-family: "Century Gothic";
}

div.game-text {
	background-color: white;
    font-family: "Times New Roman";
    font-size: medium;
    color: black;
    width: 70%;
    margin-left: auto; 
    margin-right: auto;
}

input {
    font-family: "Times New Roman";
    font-size: medium;
    color: black;
    width: 95%;
    border: 0;
}

div.input-text {
	background-color: white;
    font-family: "Times New Roman";
    color: black;
    width: 70%;
    margin-left: auto; 
    margin-right: auto;
}